* {
    margin: 0;
    padding: 0;
}

#box1{
    background-color: dodgerblue;
    justify-content: space-around;
    height: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
#box2{
    display: flex;
    text-align: center;
    background-image:url("img/ivan-bandura-Z1jyU-1ixXE-unsplash.jpg") ;
    height: 15vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
h1{
    color: aliceblue;
}
#box3{
    color: aliceblue;
    height: 30vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
    
}
#bigbox1{
    background-image: url(img/jeremy-bishop-4SUE85iGMJU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 70vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
div{
    color: aliceblue;
}
#smallbox1{
    display: flex;
    flex-direction: row;
    height: 40vh;
    width: 50vw;
}
#box4{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 50vw;
}
#box5{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 50vw;
}
#box6{
    background-color: dodgerblue;
    justify-content: space-around;
    height: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#box7{
    background-color: dodgerblue;
    justify-content: space-around;
    height: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#box8{
    background-color: dodgerblue;
    justify-content: space-around;
    height: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
#box9{
    display: flex;
    text-align: center;
    background-image:url("img/ivan-bandura-Z1jyU-1ixXE-unsplash.jpg") ;
    height: 15vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
#bigbox2{
    background-color: aliceblue;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 70vh;
    width: 100vw;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    
}
#box10{
    background-color: dodgerblue;
    justify-content: space-around;
    height: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#box11{
    background-color: dodgerblue;
    justify-content: space-around;
    height: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
#smallbox2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    height: 20%;
    width: 100%;
}
#box12{
    height: 100%;
    width: 15%;
    background-size: cover;
    background-position: center;
    display: flex;
}
#box14 > a > img {
    object-fit: cover;
    width: 100px;
    height: 80px;
}
#box16 > a > img {
    object-fit: cover;
    width: 100px;
    height: 80px;
}
#box12 > a > img {
    object-fit: cover;
    width: 100px;
    height: 80px;
}
#box13{
    height: 80%;
    width: 75%;
    text-align: left;
    color: black;
    margin: 10px;
}
#smallbox3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    height: 20%;
    width: 100%;
}
#box14{
    height: 100%;
    width: 15%;
    background-size: cover;
    background-position: center;
    display: flex;
}
#box15{
    height: 80%;
    width: 75%;
    text-align: left;
    color: black;
    margin: 10px;
}
#smallbox4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    height: 20%;
    width: 100%;
}
#box16{
    height: 100%;
    width: 15%;
    background-size: cover;
    background-position: center;
    display: flex;
}
#box17{
    height: 80%;
    width: 75%;
    text-align: left;
    color: black;
    margin: 10px;
}
#bigbox2{
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    background-color: white;
}
#smallbox5{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
}
#box18{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
    color: black;
    flex-wrap: wrap;
}
#box19{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
    color: black;
    flex-wrap: wrap;
}
#smallbox6{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
}
#box20{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
    flex-wrap: wrap;
}
#box21{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
    flex-wrap: wrap;
}
#form1{
    height: 80%;
    width: 80%;
    display: flex;
}
#form2{
    height: 80%;
    width: 80%;
    display: flex;
    text-align: center;
    flex-direction: column;
}
#input1{
    height: 200px;
}
#box22{
    color: black;
    height: 60vw;
    width: 100vw;
    text-align: left;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}
h3{
    height: 30px;
}
p{
    margin-top: 20px;
}
#box23{
    background-image: url(img/jeremy-bishop-4SUE85iGMJU-unsplash.jpg);
    height: 20vh;
    width: 50vw;
    margin-left: 200px;
}